{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <title>Touragency</title>
    <script src="{% static 'js/jquery.js' %}" type="application/javascript"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</head>
<body>

<ul>
    <li><a href="{% url 'set_lang' lang="ru" %}">&nbsp;{% trans "Russian" %}</a></li>
    <li><a href="{% url 'set_lang' lang="en" %}">&nbsp;{% trans "English" %}</a></li>
</ul>

<div id="auth">
    {% if request.user.is_authenticated %}
        <h2>{% trans "Welcome " %}{{ request.user }}
            <button id="logout">{% trans "Logout" %}</button>
        </h2>
    {% else %}
        <h4>{% trans "Registration" %}</h4>
        <form id="reg_form">
            {{ reg_form.as_p }}
            <button type="button" id="registration">{% trans "Registrate" %}</button>
        </form>
        <br/>
        <h4>{% trans "Login" %}</h4>
        <form id="login_form">
            {{ login_form.as_p }}
            <button type="button" id="login">{% trans "Login" %}</button>
        </form>
    {% endif %}
</div>

<div id="order">
</div>

<table id="tours">
    <thead>
    <tr>
        <td>{% trans "Tour number" %}</td>
        <td>{% trans "Name" %}</td>
        <td>{% trans "Type" %}</td>
        <td>{% trans "Cost" %}</td>
        <td>{% trans "Order" %}</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="{% static "js/main.js" %}"></script>

</body>
</html>