{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <script src="{% static 'js/jquery.js' %}" type="application/javascript"></script>
</head>
<body>
<h3>Tours</h3>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Format</td>
        <td>Hot</td>
        <td>Discount</td>
        <td>Cost</td>
    </tr>
    </thead>
    <tbody>
    {% for tour in tours %}
        <tr class="tour">
            <td class="id">{{ tour.id }}</td>
            <td>{{ tour.name }}</td>
            <td>{{ tour.get_format_display }}</td>
            <td><input class="hot" type="checkbox" {% if tour.hot %} checked="checked" {% endif %}></td>
            <td><input class="dis" type="text" value="{{ tour.discount }}"></td>
            <td>{{ tour.cost }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="5">
            <button id="save">Save</button>
        </td>
    </tr>
    </tbody>
</table>
<h3>Users</h3>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Is manager</td>
        <td>Is premium</td>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.premium }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h3>Orders</h3>
<table>
    <thead>
    <tr>
        <td>User</td>
        <td>Tours</td>
        <td>Sum</td>
        <td>Status</td>
        <td>Created</td>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.user }}</td>
            <td>
                {% for tour in order.tours.all %}
                    {{ tour.name }},
                {% endfor %}
            </td>
            <td>{{ order.sum }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.created }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    $("body").on('click', '#save', function () {
        var data = [];
        $(".tour").each(function () {
            var self = $(this);
            var obj = {
                id: self.find('.id').text(),
                hot: self.find('.hot').attr('checked'),
                discount: self.find('.dis').val()
            };
            data.push(obj);
        });
        console.log(JSON.stringify({data: data}));
        $.post('/update/', JSON.stringify({data: data}), function(data) {
            console.log(data);
        })
    })
</script>

</body>
</html>